/* ------------
    COMMONS
-------------*/
section{
    padding: 1.875rem 0;
}

.container{
    max-width: 68.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin: auto;
}

.list-style{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
}

.col{
    padding-left: .625rem;
    padding-right: .625rem;
}

/* ------------
    FLEX
-------------*/
.flex{
    display: flex;
}

.row{
    display: flex;
    margin-left: -0.625rem;
    margin-right: -0.625rem;
}

.wrap{
    flex-wrap: wrap;
}

.space-between{
    justify-content: space-between;
}

.items-end{
    align-items: flex-end;
}

.items-center{
    align-items: center;
}

/* ------------
    TYPO
-------------*/
.color-1st{
    color: var(--1st-color);
}

.text-center{
    text-align: center;
}

.black{
    color: #000;
}

.white{
    color: #fff;
}

/* ------------
    BUTTON
-------------*/
.btn{
    border-radius: 1.25rem;
    border-style: none;
}
.btn-nav{
    padding: .3125rem .625rem;
}

.btn-highlights{
    width: 50%;
    background-color: var(--1st-color);
    color: #fff;
    padding: .625rem 0;
}

.btn-strategic{
    background-color: var(--3dr-color);
    border-radius: 50%;
    color: #000;
    padding: 1.25rem 1.4375rem;
    font-size: larger;
}

.btn-benefit{
    background-color: var(--3dr-color);
    color: #fff;
    padding: 1rem 2.5rem;
    border-radius: 35px;
}

/* ------------
    BORDER
-------------*/
.border-radius-25{
    border-radius: 1.5625rem;
}

.border-circle{
    border-radius: 50%;
}

/* ------------
    PADDING
-------------*/
.p-right-30{
    padding-right: 1.875rem;
}

.p-left-30{
    padding-left: 1.875rem;
}

.p-top-20{
    padding-top: 1.25rem;
}

.p-bottom-20{
    padding-bottom: 1.25rem;
}

.p-20{
    padding: 1.25rem;
}

/* ------------
    MARGIN
-------------*/

.m-20{
    margin: 1.25rem;
}