/* ------------
    COMMONS
-------------*/
section{
    padding: 1.875rem 0;
}

.container{
    max-width: 68.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin: auto;
}

.list-style{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
}

.col{
    padding-left: .625rem;
    padding-right: .625rem;
}

/* ------------
    FLEX
-------------*/
.flex{
    display: flex;
}

.row{
    display: flex;
    margin-left: -0.625rem;
    margin-right: -0.625rem;
}

.wrap{
    flex-wrap: wrap;
}

.space-between{
    justify-content: space-between;
}

.items-end{
    align-items: flex-end;
}

.items-center{
    align-items: center;
}

/* ------------
    TYPO
-------------*/
.p-right-30{
    padding-right: 1.875rem;
}

/* ------------
    BUTTON
-------------*/
.btn-nav{
    border-radius: 1.25rem;
    border-style: none;
    padding: .3125rem .625rem;
}