@import url(reset.css);
@import url(variables.css);
@import url(common.css);

/* ------------
    HEADER
-------------*/
header{
    background-color: var(--1st-color);
    padding: 1.25rem 0;
    color: #fff;
    position: sticky;
    top: 0;
}

.main-nav{
    display: none;
}

.hamburger-btn{
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 1.25rem;
}

                     /* Desktop */
@media screen and ( min-width: 992px) {
    
    .hamburger-btn{
        display: none;
    }

    .main-nav{
        display: block;
    }
}

/* ------------
    MAIN
-------------*/

/* -- highlights -- */
.card-debug{
    background-color: var(--2nd-color);
    height: 100px;
}

.highlights .col{
    width: 100%;
    margin: .625rem 0;
}

                     /* Tablet */
@media screen and ( min-width: 768px) {
    
    .highlights .col{
        max-width: calc(100% / 3);
    }

    .highlights .col:first-child{
        max-width: calc( (100% / 3) * 2);
    }
}                     
/* -- /highlights -- */

/* -- Strategic -- */
.strategic{
    background-color: var(--3dr-color);
}

.strategic .col{
    width: 100%;
    margin: .625rem 0;
}

                     /* Tablet */
@media screen and ( min-width: 768px){
    .strategic .col{
        max-width: 50%;
    }
}
/* -- /Strategic -- */

/* -- Testimonials -- */
.card{
    width: 100%;
    background-color: var(--3dr-color);
    color: #fff;
    text-align: center;
    margin-bottom: 1.875rem;
}

.title-partner{
    width: 100%;
    text-align: center;
    margin-bottom: 1.875rem;
}

.title-partner > h3{
    color: var(--3dr-color);
    font-size: 1.25rem;
}
                     /* Tablet */
@media screen and ( min-width: 768px){
    
    .testimonial .card{
        display: flex;
        justify-content: space-between;
    }

    .img-circle{
        max-width: 30%;
    }

    .description{
        max-width: 70%;
    }
}
/* -- /Testimonials -- */

/* -- Benefit -- */
.benefit{
    background-color: var(--3dr-color);
}

.title-benefit{
    width: 100%;
    text-align: center;
    color: #fff;
}

.card-number{
    width: 100%;
    background-color: #fff;
    margin-bottom: 1.875rem;
}

                     /* Tablet */
@media screen and ( min-width: 768px){
    .card-number{
        max-width: 50%;
    }
}

                     /* Desktop */
@media screen and ( min-width: 992px){
    .card-number{
        max-width: calc(100% / 3);
    }
}
/* -- /Benefit -- */

/* -- About Us -- */
.description-2{
    width: 100%;
}

.description-2 > h3{
    color: var(--3dr-color);
    font-size: 1.25rem;
}

                     /* Tablet */
@media screen and ( min-width: 768px){
    .description-2{
        max-width: 70%;
    }

    .developer{
        max-width: 30%;
    }
}
/* -- /About Us -- */

/* ------------
    FOOTER
-------------*/
.footer-top{
    background-color: var(--3dr-color);
    text-align: center;
}

.footer-bottom{
    background-color: var(--5th-color);
    text-align: center;
    color: #fff;
}
